@charset "utf-8";

/*------------------------ Reset --------------------------*/
*{padding: 0; margin: 0;}
ul,ol,li{list-style:none;}
a{text-decoration:none;}
img{border:none;}

html,body{ 
  height: 100%; 
  font-family:'Didact Gothic', 'Noto Sans KR', sans-serif; 
  }
#wrap{
  overflow:hidden;  
  width: 100%; 
  min-width:1200px; 
  height: 100%; 
}
#wrap>#container{
  width: 300%;
  height: 100%;
  margin-left:-100%; 
}
#container>section{
  float: left; 
  width: 33.3333%;
  height:100%;
}

hr{display:none;}

.clearfix{*zoom:1;}
.clearfix:after{display:block; clear:both; content:'';}

/*------------------------ 메인 ----------------------------*/

.main{
  position: relative;
  z-index:700;
  background-color:#a3ab8d;
}

.mainarticle{
  position: absolute;
  width:751px;
  height:560px;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
}

.main h1{
  position: absolute;
  bottom: 0; right: 0;
  width:697px;
  height:530px;
  text-indent:-9999px;
  background-image: url(../images/main.png);
}
.main h2{
  position: absolute;
  top:0px;
  right:9px;
  width: 691px;
  height: 68px;
  text-indent:-9999px;
  background-image: url(../images/h1.png);
  background-repeat:no-repeat;
  opacity:0;
}
.main h3{
  position: absolute;
  top:50px;
  left:30px;
  width: 54px;
  height: 522px;
  text-indent:-9999px;
  background-repeat:no-repeat;
  background-image: url(../images/who.png);
  opacity:0;
}

.center_info{
  position: absolute;
  left: 50%;
  top:50%;
  transform:translate(-50%,-50%);
  z-index:100;
  background-image:url(../images/contact.png);
}
.bg{ 
  position:fixed; 
  left: 0; 
  top: 0; 
  width:0;
  height:0; 
  background-color:rgba(0,0,0,0.5); 
}
/*------------------------ 메인 버튼 --------------------------*/

.m_btn{
  position:absolute;
  width: 100%;
  height: 48px;
  left: 0;
  bottom:30px;
  text-indent:-9999px;
  cursor:pointer;
}
.left{
  position: absolute;
  left:20px;
  top:10px;
  width:40px;
  height:48px;
  background-image:url(../images/left.png);
}
.center{
  position: absolute;
  left: 50%;
  transform:translateX(-50%);
  top:25px;
  width:30px;
  height:30px;
  border-radius:50%;
 background-color:#093b61;
}
.right{
  position: absolute;
  right:20px;
  top: 10px;
  width: 40px; 
  height: 48px;
  background-image: url(../images/right.png);
}

/*------------------------ about me --------------------------*/

.aboutme{ 
  position: relative; 
  overflow:hidden; 
  z-index:800; 
  background-color:#edeae1;
}

.aboutarticle{
  position: absolute;
  width: 1440px;
  height: 700px;
  left: 50%;
  top: 50%;
  transform:translate(-50%,-50%);
}
.all_tab{position: relative; left:50%; width:100%; height: 100%;}

/* 메뉴 탭 */

.aboutme .menubtn{
  position:absolute;
  top:50%; 
  right:3%;
  width:700px; 
  transform: translateY(-50%);
}

.aboutme .menubtn .btn>p>a{
  display: block; 
  color:#0a3d64;
  font-size:70px; 
  font-weight:800;
  text-align:right;
  text-shadow:3px 3px #ccc;
}

.aboutme .menubtn>.btn>p.click>a,
.aboutme .menubtn>.btn>p>a:hover{ color:#ddb0a7; }
.aboutme .menubtn>.btn>.btn01>a{ font-size:90px; }
.aboutme .menubtn>.btn>p>a>img{ width:49px; height:49px; }

/* 내용 탭부분 */


.aboutme .tabcont{ 
  position: relative; 
  width:900px; 
  height:700px;
  left:40px;
  top:50%;
  transform:translateY(-50%);
}

.aboutme .all_tab{ 
  position: absolute; 
  left: 50%;
  top: 50%;
  transform:translate(-50%,-50%);
  width:900px;
  height: 600px;
  border:15px solid #0a3d64;
  z-index:100; 
}

.aboutme .all_tab>div{
  display:none; 
  width: 100%;
  height: 100%;
}

/* 프로필 */

.all_tab .profile{
  background-color: #ddb0a7;
}
.all_tab .profile>h1{
  position: absolute;
  right:0px;
  bottom:0px;
  width:325px;
  height:573px; 

  text-indent:-9999px;
  background-image: url(../images/meme.png);
  background-size:cover;
}
.all_tab .profile>p{ 
  width: 620px;
  padding:15px 30px;
  color:#0a3d64;
  line-height:40px;
  font-size:14px;
  
}

.profile>p>span{
  font-size:18px;
  font-weight:800;
}

/* 스킬 */

#skills{ 
  margin-left:13%; 
  padding-bottom:10%;
}

#skills>.stick{ 
  position:absolute;
  top:70%;
  left:24%; 
  transform:translate(-50%,-50%);
  width:40%;
  height:65%;
  opacity:0;
  background-color:#0a3d64;
} 

#skills>.stick>h2{ text-indent:-9999px; }

#skills>.stick>.container{ 
  position: absolute; 
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}

#skills>.stick>.container>div>h3{
  color:#fff; 
  font-size:18px;
  text-align:center; 
  margin-bottom:5px;
}

#skills>.stick>.container>div>.progress{
  position:relative;
  width:300px; 
  height:30px; 
  margin-bottom:15px;
  background-color: #e1dede;
  border-radius:3px; 
}

#skills>.stick>.container>div>.progress>.bar{
 height:100%;
 width:0;
 background-color:#ddb0a7;
transition:all 2s ease-in-out;
}
    
#skills>.stick>.container>div>.progress>.bar>span{
    margin-left:260px;
}

.skill_text{
  display:inline-block;
  position: absolute; 
  right:35px; 
  top:30%; 
  opacity:0;
  height:50%;
  line-height:70px;
}

.skill_text h3{
  color:#fff;
  font-size:23px;
  text-align: center;
  background-color:#0a3d64;
}

.skill_text p{
  font-size:15px;
  text-align: center;
}

/* 키워드 */

.keyword>.keyicon{
  width:80%; 
  height:90%;
  margin:3.5% auto 0; 
}

.keyword>.keyicon>li{
  position: relative;
  bottom:-20%;
  width:80%; 
  height:30%; 
  opacity:0; 
  margin:0 auto 26px;
  background-color:#0a3d64;
}

.keyword>.keyicon>li>img{
  width: 120px;
  height: 120px;
  margin:20px 0 15px 55px;
}
.keyword>.keyicon>li>div{
  position: absolute;
  right:8%;
  bottom:25%; 
  width:50%;
}

.keyword>.keyicon>li>div>h2{
  color:#edeae1; 
  font-size:20px;
}

.keyicon>li>div>p{ 
  color:#edeae1;
  font-size:14px;
}

/*------------------------ portfolio --------------------------*/

#container>section>.allportf{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 1440px; 
  height: 100%;

}
.portfolio{
  position: relative;
  height: 100%;
  background-color:#093b61;
}

.line{
  position: absolute;
  left: 50%;
  top: 50%;
  transform:translate(-50%,-50%);
  width:100%;
  height:700px;
  border-top:5px solid #eaad5a;
  border-bottom:5px solid #eaad5a;
}
.port_btn{
  position:absolute;
  top:65%;
  right:10%;
  width:300px;
  height:75px;
  z-index:50;
  color:#edeae1;
}
.port_btn a{
  display: block;
  width:32px;
  height:32px; 
}
.port_btn>div>div>p{float:left; margin-left:10px;}
.port_btn>div>h2, .port_btn>div>div{float:left}


.web_btn{margin-bottom:10px;}

.other_menu>p:first-child{margin-left:44px;}


.hoom{position: absolute; top:32px; right:6%;}

.hoom>a>img{ width:49px; height:49px; }  

/* 탭부분 */

.tab{ display: none;} 
.dukwoo{display: block;}

.port_tab{
  position: relative;
  left:50%;
  top:50%;
  width:1500px;
  transform:translate(-50%,-50%);
  height:650px;
}

.portalltab img{  
  position: absolute;
  width:1000px;
  left:-2%;
  top:50%;
  transform:translateY(-50%);  
}

.other_tab>div>img{
  width:800px; 
  height:518px;
  left:5%;
}

/* text 상자 */

.txt{
  position: absolute;
  width:700px;
  height:300px;
  top:10%;
  right:-17%;
  padding:10px 30px;
  text-align:left;
}

.txt>p>span{
  font-size:16px;
  color:#edeae1;
}
.txt>p>strong{
  display: block;
  font-size:70px;
  color:#e3a857;  
}

.txt>p>.st{
  font-size:18px;
}

.preview{
  position: absolute;
  right:17%;
  top:55%;
  z-index:40;
  }
.preview>p{
  float:left;
  width: 100px;
  margin-left:20px;
  background-color:#e3a857;
}
.preview>p>a{
  display: block;
  height:35px;
  line-height:35px;
  font-size:20px;
  font-weight:bold;
  text-align: center;
  color:#093b61;
}

.preview>p:hover>a{
  background-color:#df8053;
}

.carol>.preview>p{
  width: 220px;
}

.other_tab>.preview>p{
  width: 220px;
}












/*-------------강아지 마우스------------*/
#box{
  position: fixed; left:50%; top:50%; 
  width:100px; height:70px; 
  z-index:1000; 
  background-image:url(../images/muru.png); }











