@charset "utf-8";

/*------------------------ Reset --------------------------*/
*{padding: 0; margin: 0;}
ul,ol,li{list-style:none;}
a{text-decoration:none;}
img{border:none;}

html,body{ 
  height: 100%; 
  font-family:'Didact Gothic', 'Noto Sans KR',sans-serif; }
#wrap{
  overflow:hidden;  
  width: 100%; 
  min-width:1200px; 
  height: 100%; }
#wrap>#container{
  width: 300%; height: 100%;
  margin-left:-100%; }
#container>section{
  float: left; 
  width: 33.3333%; height:100%; }

hr{display:none;}


/*------------------------ 애니메이션 -----------------------*/

@keyframes ani{
  0%{ opacity:0; transform:scale(0); }
  50%{ transform:scale(1.3); }
  100%{ opacity:1; transform:scale(1); }
}

/*------------------------ 메인 ----------------------------*/

.main{ 
  position: relative;
  top:0; 
  z-index:700;
}

.main>h1{  
  margin-top:19%;
  color:#38618f; 
  font-size:7.5em;
  text-align: center;
  text-shadow:4px 3px #ccc; 
  font-style:italic; 
  cursor:pointer;
  animation:ani 3s 1; 
}

.main>.line{
  position: absolute; 
  top:25%;
  width:100%;
  height:49%; 
}
.main>.line>p{
  position: absolute;
  background-color:#c4c2b8;
}

.top{
  top:0;
  left:0; 
  width:0%;  
  height:30px;
}

.bottom{ 
  bottom:0; 
  right:0;
  width:0%;
  height:30px;
}

.center_info{ 
  position: fixed; 
  left:50%;
  top: 50%; 
  margin-left:-400px; 
  margin-top:-222px;
  z-index:50;
  opacity: 0;
  width:800px; 
  height:445px; 
  transition:all 0.4s;
  background-image: url(../images/contact.png);
  background-repeat:no-repeat;
}

.bg{ 
  position:fixed; 
  left: 0; 
  top: 0; 
  width:0;
  height:0; 
  background-color:rgba(0,0,0,0.5);
}

/*------------------------ 메인 버튼 --------------------------*/

.m_btn{
  font-style:italic; 
  text-shadow:3px 3px #ccc;
}

.m_btn>p{
  position: absolute; 
  bottom:40px; 
  z-index:800; }

.m_btn>.left{ left:30px; }

.m_btn>.center{ 
  left:50%;
  margin-left:-40px; 
  color:#38618f;
  font-size:40px;
  font-style:normal;
  text-shadow:none;
  font-weight:bold;
  cursor:pointer; }

.m_btn>.center:hover{
  color:#fd9735;
}

.m_btn>.right{ right:40px; }

.m_btn>p>a{
  color:#38618f; 
  font-weight:800; 
  line-height: 50px;
  font-size:50px; 
}
.m_btn>p:hover>a{
  color:#fd9735;
}

/*------------------------ about me --------------------------*/

.aboutme{ 
  position: relative; 
  overflow:hidden; 
  z-index:800; 
}

/* 메뉴 탭 */

.aboutme>.menubtn{
  position:absolute;
  top:50%; 
  right:8%;
  width:30%; 
  transform: translateY(-50%);
}

.aboutme>.menubtn>.btn>p>a{
  display: block; 
  color:#38618f; 
  font-size:70px; 
  font-weight:800;
  text-align:right;
  text-shadow:3px 3px #ccc;
}

.aboutme>.menubtn>.btn>p.click>a,
.aboutme>.menubtn>.btn>p>a:hover{ color:#fd9735; }
.aboutme>.menubtn>.btn>.btn01>a{ font-size:90px; }
.aboutme>.menubtn>.btn>p>a>img{ width:49px; height:49px; }

/* 내용 탭부분 */

.aboutme>.tabcont{ 
  position: relative; 
  width:60%; 
  height: 100%;
}

.aboutme>.tabcont>.all_tab{ 
  position: absolute; 
  left:55%;
  top:50%;
  transform:translate(-50%,-50%); 
  width:900px;
  height:600px; 
  border:15px solid #38618f;
  z-index:100; 
}

.aboutme>.tabcont>.all_tab>div{
  display:none; 
  width: 100%;
  height: 100%;
}

/* 프로필 */

.all_tab>.profile>h1{
  width:620px;
  height:318px; 
  margin:30px auto; 
  text-indent:-9999px;
  background-image: url(../images/me.jpg);
  text-align:left;
}
.all_tab>.profile span{
  display: block;
  font-size:18px;
  text-align:left;
  margin-bottom:30px;
}

.all_tab>.profile>p{ 
  width: 620px;
  margin:20px auto;
  font-size:14px;
}


/* 스킬 */

#skills{ 
  margin-left:13%; 
  padding-bottom:10%;
}

#skills>.stick{ 
  position:absolute;
  top:70%;
  left:24%; 
  transform:translate(-50%,-50%);
  width:40%;
  height:65%;
  opacity:0;
  background-color:#38618f;
} 

#skills>.stick>h2{ text-indent:-9999px; }

#skills>.stick>.container{ 
  position: absolute; 
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}

#skills>.stick>.container>div>h3{
  color:#fff; 
  font-size:18px;
  text-align:center; 
  margin-bottom:5px;
}

#skills>.stick>.container>div>.progress{
  position:relative;
  width:300px; 
  height:30px; 
  margin-bottom:15px;
  background-color: #e1dede;
  border-radius:3px; 
}

#skills>.stick>.container>div>.progress>.bar{
 height:100%;
 width:0;
 background-color:#fd9735;
transition:all 2s ease-in-out;
}
    
#skills>.stick>.container>div>.progress>.bar>span{
    margin-left:260px;
}

.skill_text{
  display:inline-block;
  position: absolute; 
  right:35px; 
  top:30%; 
  opacity:0;
  height:50%;
  line-height:70px;
}

.skill_text h3{
  color:#fff;
  font-size:23px;
  text-align: center;
  background-color:#38618f;
}

.skill_text p{
  font-size:16px;
  text-align: center;
}

/* 키워드 */

.keyword>.keyicon{
  width:80%; 
  height:95%;
  margin:2% auto 0; 
}

.keyword>.keyicon>li{
  position: relative;
  bottom:-20%;
  width:80%; 
  height:30%; 
  opacity:0; 
  margin:0 auto 26px;
  background-color:#38618f;
  border-radius:40px;
}

.keyword>.keyicon>li>img{
  width: 100px;
  height: 100px;
  margin:30px 70px;
}
.keyword>.keyicon>li>div{
  position: absolute;
  right:8%;
  bottom:25%; 
  width:50%;
}

.keyword>.keyicon>li>div>h2{
  color:#fff; 
  font-size:18px;
}

.keyicon>li>div>p{ 
  color:#fff;
  font-size:14px;
}

/* 경험 */

.experience{ 
  position: relative;
  bottom:-20%;
  opacity:0; 
}

  .text>h3{
    margin:30px 0 10px 0; 
    font-size:40px;
    color:#38618f;
    text-align:center;
    text-decoration:underline;

}
 .text p{
    padding:30px 30px 40px;
    text-align:left;
    font-size:15px;
}

.mask{  
  overflow:hidden;
}
.mask>ul{
  position: relative;
  width: 1800px;
}
.mask>ul>li{
  float:left;
  margin:5px;
}

/*------------------------ portfolio --------------------------*/

.portfolio{
  position: relative; 
  width:100%; 
  background-color:#38618f;
}

/*
.portfolio>h1{ 
  position: absolute;
  bottom:10px;
  right:40px; 
  color:#fff; 
  font-style: italic;
  font-size:100px; 
  font-weight:bold; 
}
*/

  .port_btn{ 
    position: absolute;
    left:50px;
    top:60%;
    transform:translateY(-50%); 
    width:400px;
    opacity:0; 
    transition-duration:1.5s; 
    border-right:3px solid #fff;
}

  .port_btn>div>h2{ 
    width:330px; 
    height:50px; 
    color:#fd9735;  
    font-size:50px;
    margin:20px auto 30px;
    text-align: center;
    cursor:pointer; 
}
  
  .port_btn>div a{
    display: block; 
    color:#fff; 
    font-size:35px;
    font-weight:bold;
    text-align:center;
    margin-bottom:5px;
}

  .p>a{transition:0.5s;}

  .p.click>a{ 
    color:#ff6745;
    transform:scale(1.1);
}  

  .other_btn>.p_last{margin-bottom:35px;}

  .other_btn>.hoom>a>img{ width:49px; height:49px; }  

  .port_tab>.portalltab>.other_tab{
    position: absolute;
    left:50%; 
    transform:translateX(-50%);
}

  .port_tab>.portalltab{ 
    position: absolute;
    top:10%;
    left:25%;
    width:50%;
    height:50%;
}    
/*
    position:absolute;
    top:50%;
    right:0;
   width: 100%; height: 100%;
    opacity:1;
    transition-duration:1.5s; 
    outline:2px solid red;
    transform:translate(-50%,-50%);
*/
}
                         

/*
  .port_tab>.portalltab>div{ 
    display:none;
    position: absolute;
    left:50%;
    transform: translateX(-50%); 
    background-repeat:no-repeat; 
*/
}



/*
  .port_tab>.portalltab>div>img{
   width: 800px;
   margin:0 auto;
}
*/
  .port_tab>.portalltab>.andez{ display:block; }
  .port_tab>.portalltab>.blue{
    font-size:30px;
    text-align: center; 
    line-height:530px; }



/*tab 안에 있는 글씨*/
.txt{
  position: absolute;
            top:0%; 
    right:-30%;
}
  .txt>p{  outline:2px solid orange;
  
 
          display:block;
          text-align: center; }

  .txt>p>strong{ color:#5a3f4e;
                 font-size:60px;
                 text-shadow:2px 3px #b297a5; }
  .txt>p>.st{ 
    font-size: 18px;}
  .txt>p>span{font-size:16px;}


/*view, pro 버튼*/

.preview{ 
  position: absolute; left:67%; bottom:0; 
  transform:translateX(-50%);
  font-weight:bold; 
}
 
.tab>.preview p{ float:left; margin-right:60px; }
.tab>.preview p:last-child{ margin-right:0; }

.tab>.preview p>a{ 
  display: block;
  padding:5px;
  color:#fff;
  font-size:35px;                
  text-align: center;
  text-shadow:3px 3px #7e6873; 
  transition-duration:0.5s; 
  border:2px solid #fff;
  border-radius:30px;}

.tab>.preview p:hover>a{ color:#5a3f4e; transform:scale(1.2);}

.tab>.preview p>a>i{font-size:40px;}
 
.caview, .baproc{
  width: 200px;
  text-align: center;}

.baby img{
  position: absolute;
  top: 0;
}
/*-------------강아지 마우스------------*/
#box{
  position: fixed; left:50%; top:50%; 
  width:100px; height:70px; 
  z-index:1000; 
  background-image:url(../images/ohdi.png) }











