@charset "utf-8";

/*--------------------- 공통 ----------------------*/
html,body{background-color:#f3ede2; height: 100%; }

.con{ 
  width:1280px;
  margin:80px auto 0;
}


.container{
  width:1280px;
  margin:0 auto;}


/* 서체 */

h1{ font-size:2.3em; }
h2{ margin-bottom:10px; font-size:1.8em; text-align: center; }
h3{ margin:45px 0 10px; font-size:1.6em; text-align: center;}
h4{ font-size: 1.4em; text-align: center;}
td{font-size: 12px; }
strong{color:#fff; font-size:1.5em; text-align: center;}

.gnb>li>a{font-size:18px; font-weight:bold; text-align: center;}
.sub_menu>li>a{font-size:15px; font-weight:bold; text-align: center;}

.con>p{ padding-bottom: 40px; font-size: 1.3em; text-align: center; }
th>a{font-size: 13px;}
.info>div>p{ font-size: 1.1em;}
.container>.info_t>p{text-align: center; font-size: 1.2em;}
.container>.info_t>p>span{font-size: 1.4em;}
.container>.info_t .s{ font-size:12px; }
.cont2>.container>ul>li>a>span>p{font-size: 1.2em; color:#fff;}


/*---------------- header - 메인메뉴 ------------------*/

header{ 
  position:relative;
  width:100%;
  z-index:100; 
}
  .main_bar{
    position: relative;
    width: 1280px; 
    margin:0 auto; 
    padding:10px 0;
}
  .main_bar>h1{ 
    width:118px;
    margin-left:15px;
}
  .main_bar>h1>a{ 
    display: block; 
    height: 60px;
    text-indent:-9999px;
    background-image:url(../images/logo_top2.png);
    background-repeat:no-repeat; 
    cursor:pointer;
}
  .main_bar>nav{
    position:absolute;
    top:35px; 
    right:0px;
    z-index:50; 
} 
  .main_bar>nav>ul>li{ 
    float:left; 
    width:150px;
}
  .main_bar>nav>ul>li>a{ 
    display:block;
    color:#fff;
}

/*---------------- header - 서브메뉴 ------------------*/

.main_bar .sub_menu{
  display: none;
  margin-top:30px;
}
.main_bar .sub_menu>li{
  width:150px; 
}  
.main_bar .sub_menu>li>a{ 
  display: block;
  height:40px; 
  color:#fff;
}
.main_bar .sub_menu>li:hover>a{
  color:#d1c1b1;
}

.sub_bg{
  display:none; 
  position: absolute; 
  right:0; 
  top:80px; 
  width:100%;
  height:170px; 
  z-index:10;
  background-color:rgba(0,0,0,0.9);
/*  background-color:#fff; */
  opacity:0.3;
}

/*---------------- 메인 배경화면 ------------------*/
.main_bg{ 
  position: relative;
  overflow:hidden; 
  width:100%;
  height: 680px;
  margin-top:-80px;
  z-index:20;
  background-color: red;
}
.main_bg>h1{
  position: absolute;
  top:28%;
  left:50%;
  padding-top:50px;
  transform:translateX(-50%);
  z-index:20;
  color:#fff;
  text-align: center;
}
.main_bg>img{ 
  width:100%;
  margin-top:-10%;
  transform:scale(1.2);
  transition:3.5s;
}

/*---------------- 모바일용 햄버거 버튼 ------------------*/
.btn{
  display:none; 
  position:absolute; 
  right:30px; 
  top:30px;
  z-index:50; 
  width:30px; 
  height:30px; 
  cursor:pointer; 
}

.btn>i{ 
  color: #fff; 
  font-size:30px;
}

/*------------ 모바일용 닫기 버튼 --------------*/

#close{
  display: none; 
  position: absolute;
  right:30px; 
  top:30px;
  z-index:50;
  cursor:pointer;
}
#close>i{ 
  color: #fff;
  font-size:30px;
}


/*---------------- 모바일용 메뉴 ------------------*/
.fr{ 
  position:fixed;
  right:-80%; top:0;
  width:80%;
  z-index:40; 
  height: 100%;
  background-color:#d1c1b1; 
}
.fr>ul{ margin-top:100px; }
.fr>ul>li{border-top:1px solid #555;}
.fr>ul>li>a{
  position: relative; 
  display: block; 
  padding:10px 0;
  color:#555;
  font-weight:bold; 
  font-size:16px;
  text-indent:30px;
  }
.fr>ul>li:hover>a{
  background-color:#59665c;
  color:#fff;
}
.fr>ul>li>a>i{ 
  display: block;
  position: absolute;
  right:30px;
  top:23px; 
  transition-duration:0.4s; 
}

.fr>ul>li:last-child{
  border-bottom:1px solid #555;
}
.fr>ul>li>a>i.on{ 
  transform:rotateX(180deg);
}

.fr .sub_menu{
  background-color:#f3ede2;
  display:none; 
  padding:20px 0; 
  border-top:1px solid #555;
}

.fr .sub_menu>li>a{
  display: block; 
  height: 40px; 
  line-height: 40px; 
  color:#555; 
  text-indent:30px;
}

.fr .sub_menu>li:hover>a{
  color:#59665c;
  text-decoration:underline;
}


/*---------------- 회사소개 ------------------*/

.info{ 
    outline:2px solid #eee;
}
.info>div{
    float:left; 
    position: relative;
    width:25%; 
    height:300px;
}
.info>div>p{
  text-align: center;
}
.go{
  position: absolute;
  left: 50%;
  bottom:23%;
  transform:translateX(-50%);
  padding:8px;
  border:1px solid black;
  border-radius:5px;
  transition:0.4s;
}

.go:hover{background-color:#fff;}

i{ margin-left:5px; }

.info>.in_1{
    position: relative;
    width: 50%;
    background-image: url(../images/in_1bg.jpg);
    background-position: center center;
}
.info>.in_1>img{
  position: absolute;
  left: 30px;
  top:60px;
  width: 225px;
  height: 100px;
}
.info>.in_2{
    background-color:#9e624c;
    background-image:url(../images/history.png); 
}  
 .info>.in_3{
    background-color:#d1c1b1;
} 
 .info>.in_4{ 
    background-color:#d1c1b1;
}
  .info>.in_5{
    background-color:#59665c;
    background-image: url(../images/pointer.png);
}
 .info>.in_6{
   width: 50%;
   background-color:#e9e3dd;   
}
.info>.in_6>h3{
  display: inline-block;
  padding:0 80px 0px 60px;
}
.info>.in_6>a{
  float:right;
  margin:50px 60px 0 0px;
}
.info>.in_6 table{
  margin:0 auto;
}   

tbody>tr:first-child{ 
  border-top:1px solid #ccc;
}

tbody>tr{
  position: relative;
  display: block;
  width:545px;
  height:35px;
  padding-left:10px;
  line-height:35px;
  border-bottom:1px solid #ccc;

}

tbody>tr:hover a{
    text-decoration: underline;
}
td{
  position: absolute;
  right:30px;
  top: 0;
  width: 50px;
}
/*---------------- 사업소개 ------------------*/

.cont2{
  width: 100%;
  padding:30px 0 40px;
  background-color:#d1c1b1;
}
.cont2>.container>ul>li{
  float:left;
  width: 31.33%;
  height:400px;
}

.cont2>.container>ul>li:nth-child(1){
  background-image: url(../images/steel.jpg);
}
.cont2>.container>ul>li:nth-child(2){
  margin:0 3%;  
  background-image: url(../images/wood1.jpg);
}
.cont2>.container>ul>li:nth-child(3){
  background-image: url(../images/steel2.jpg);
}

.cont2>.container>ul>li>a{
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition:0.5s;
  
}
.cont2>.container>ul>li>a:hover{
  background-color:rgba(0,0,0,0.5);
}
.cont2>.container>ul>li>a:hover>span{
  display: block;
 }

.cont2>.container>ul>li>a>span{
  display: none;
  position: absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
}
.cont2>.container>ul>li>a>span>strong{
  display: block;
  margin-bottom:15px;
}
.cont2>.container>ul>li>a>span>em{
  display: block;
  margin-top:15px;
  padding:5px 7px;
  color:#fff;
  font-style: normal;
  border:1px solid #fff;
  border-radius:5px;
}


/*---------------- 완공사진 ------------------*/

.cont3>.container{
  overflow:hidden;
}
.cont3>.container>ul{
  position: relative;
  width:400%;
}
.cont3>.container>ul>li{
  float:left;
  overflow:hidden;
  width:12%;
  height:460px;  
}
.cont3>.container>ul>li:nth-child(even){
  margin-left:1%;
}
.cont3>.container>ul>li>a{
  display: block;
  position: relative;  
}
.cont3>.container>ul>li>a>img{
  width: 100%;
}
.cont3>.container>ul>li>a>p{
  position: absolute;
  width: 100%;
  height:70px;
  line-height:70px;
  text-indent:20px;
  color:#fff;
  left:0;
  bottom:0;
  background-color:rgba(89,102,95,0.8);
  text-align:left;
}

/*--------- 동그라미 버튼 ---------*/
.dot{
  width:125px;
  margin:30px auto 0;
}
.dot>li{
  float:left;
  width: 20px;
  height: 20px;
  margin-left:15px;
  border-radius:50%;
  background-color:#d1c1b1;
  cursor:pointer;
}
.dot>li:first-child{
  margin-left: 0;
}

.dot>li.onn{
  width: 20px;
  height: 20px;
  background-color:#9e624c;
}


/*---------------- 고객지원 ------------------*/


.cont4 div{
  position: relative;
  height:240px;
  margin-right:10px;
  
}
.cont4 div:last-child{
  border-right:none;
  margin-right:0;
}

.container>.info_t{
  float:left;
  width:778px; 
  background-image: url(../images/banner.jpg);
  border-radius: 40px 0 40px 0;
}
.container>.info_t>h4{
  padding:20px 0 10px;
  text-align:left;  
  text-indent:80px;
}

.container>.info_t>p{
  padding-left:80px;
  text-align:left;
}

.container>.info_qc p{
  text-align:center;
  padding-top:10px;
}
.container>.info_qc>.info_q{
  float:left;
  width:240px;
  background-color:#e9e3dd; 
  border-radius:0 40px 0 40px;
}

.container>.info_qc>div>a>img{
  position: absolute;
  left: 50%;
  top:40px;
  margin-left:-36px;
  width:69px;
  height:69px;
}

.infoqctext{
  margin-top:55%;
}
.container>.info_qc>.info_c{
  float:left;
  width:240px;
  background-color: #d1c1b1;  
  border-radius:0 40px 0 40px;  
}

 
/*--------------footer--------------*/
footer{
  margin-top:100px;  
  background-color:#e9e3dd;
}

footer>.container{
  position: relative;
  width: 1280px; 
  height:120px;  
}
footer img{
  width: 118px;
  height: 60px;
  margin-top:30px;  
  text-align:left;
}

footer address{
  display: inline-block;
  margin:30px 30%;
  text-align:center;}
  
footer .qr>img{
  position: absolute;
  right:0;
  top:0px;
  width: 60px;
  height: 60px;
}

/*-----------------------------미디어쿼리-------------------------------*/

/*1025px - 1279px*/
@media screen and (max-width:1279px){
  .container{width: 100%;}

}

/*961px - 1024px 태블릿*/
@media screen and(max-width:1024px){
  body{font-size:13px;}
  .main_bg{ height:500px; }
  
}

/*769px - 960px 태블릿*/
@media screen and(max-width:960px){
    .main_bg{ height:400px; }
}  


/*601px - 768px 모바일용*/
@media screen and(max-width:768px){}  
  
/*481px - 600px 모바일용*/
@media screen and(max-width:600px){}  